#contact {
	    height: 100vh;
    width: 100%;
    background: lightgreen;
    position: relative;
    display: flex;
    justify-content: center;
    flex-direction: column;
	.formTitle{
		text-align: center;
		font-size: 22px;
		margin-bottom: 20px;
	}
	#contactContainer {
		display: flex;
		width: 90%;
		background: red;
		justify-content: space-evenly;
		.formContainer {
			width: 70%;

		
			.form {
				input, textarea {
					width: 100%;
					border-radius: 5px;
					border: none;	
					padding: 10px;
					box-sizing: border-box;
					margin-bottom: 10px;
				}
				textarea {
					height: 200px;
				}
				.button {
					margin-top: 10px;
					button {
						border: none;
						padding: 10px;
						background: #5a9a9a;
						color: white;
						border-radius: 3px;
					}
				}
			}
		}
	}
}