#contact {
	    height: 100vh;
    width: 100%;
    // background: #273043;
    position: relative;
    display: flex;
    justify-content: center;
	flex-direction: column;
	z-index: 1;
	.formTitle{
		text-align: center;
		font-size: 30px;
		margin-bottom: 20px;
		color: white;;
	}
	#contactContainer {
		display: flex;
		width: 75%; // 90%;
		//background: red;
		justify-content: space-evenly;
		margin: 0 auto;
		flex-direction: row-reverse;
		.formContainer {
			width: 40%;

		
			.form {
				input, textarea {
					width: 100%;
					border-radius: 5px;
					border: none;	
					padding: 10px;
					box-sizing: border-box;
					margin-bottom: 10px;
					background:#353535;
					color: white;
					font-size: 20px;
				}
				textarea {
					height: 200px;
				}
				.button {
					margin-top: 10px;
					button {
					border: none;
					padding: 10px;
					background: #33a0a0;
					color: white;
					border-radius: 3px;
					font-size: 20px;
					padding: 10px 20px;
					}
				}
			}
		}
		.socialMediaContainer {
			width: 55%;
			font-size: 35px;
			color: white;
			#socialHello {
				font-size:50px;
				margin-bottom: 30px;			}
			#socialMail {
				//font-size: 43px;
			}
			#socialAppsPart {
				#socialAppsHello {
					display: flex;
					
				}
				#socialAppsApps {
					margin-left: 20px;
					svg {
						font-size: 40px;
					}
					
				}

				#cvGrab {
						p {
							#downlCVButton {
								background: #3E131A;
								padding: 5px 10px;
								margin-left: 10px;
								border-radius: 5px;
								cursor: pointer;
								/* box-shadow: 3px 4px 5px 4px black, 0px 0px 9px 3px black; */
								box-shadow: 6px 5px 2px 3px black;
							}
						}
				}
			}
		}
	}
}

@media (max-width: 768px) {
	
}