#contact {
	    height: 100vh;
    width: 100%;
    // background: #273043;
    position: relative;
    display: flex;
    justify-content: center;
	flex-direction: column;
	z-index: 1;    margin-bottom: 50px;
	.formTitle{
		text-align: center;
		font-size: 30px;
		margin-bottom: 20px;
		color: white;
	}
	#contactContainer {
		display: flex;
		width: 75%; // 90%;
		//background: red;
		justify-content: space-evenly;
		margin: 0 auto;
		flex-direction: row-reverse;
		.formContainer {
			width: 40%;

		
			.form {
				input, textarea {
					width: 100%;
					border-radius: 5px;
					border: none;	
					padding: 10px;
					box-sizing: border-box;
					margin-bottom: 10px;
					background:#353535ad;//#353535;
					color: white;
					font-size: 20px;box-shadow: 2px 4px 8px 2px black;
    				background: #3e131a6b;
				}
				input, textarea {
					outline: none;
				}
				textarea {
					height: 200px;
				}
				.button {
					margin-top: 10px;
					button {
					border: none;
					padding: 10px;
					background: #33a0a0;
					color: white;
					border-radius: 3px;
					font-size: 20px;
					padding: 10px 20px;
					}
				}
			}
		}
		.socialMediaContainer {
			width: 55%;
			font-size: 35px;
			color: white;
			#socialHello {
				font-size:50px;
				margin-bottom: 30px;			}
			#socialMail {
				//font-size: 43px;
			}
			#socialAppsPart {
				#socialAppsHello {
					display: flex;
					
				}
				#socialAppsApps {
					a {
						text-decoration: none;
						color: white;
					}
					margin-left: 20px;
					svg {
						font-size: 40px;
					}
					
				}

				#cvGrab {
						p {
							#downlCVButton {
								background: #3E131A;
								padding: 5px 10px;
								margin-left: 10px;
								border-radius: 5px;
								cursor: pointer;
								/* box-shadow: 3px 4px 5px 4px black, 0px 0px 9px 3px black; */
								box-shadow: 6px 5px 2px 3px black;
							}
						}
				}
			}
		}
	}
}

@media (max-width: 1440px) {
	#contact {
		
		.formTitle{
		}
		#contactContainer {
			width: 95%;
			.formContainer {
				.form {
					input, textarea {
					}
					textarea {
					}
					.button {
					}
				}
			}
			.socialMediaContainer {
				
				#socialHello {
					font-size:40px;
				}
				#socialMail {
					font-size: 30px;
				}
				#socialAppsPart {
					font-size:30px;
					#socialAppsHello {
						margin-top: 10px;
					}
					#socialAppsApps {
						svg {
						}
						
					}

					#cvGrab {
						line-height: 45px;
							p {
								#downlCVButton {
								
								}
							}
					}
				}
			}
		}
	}
}

@media (max-width: 880px) {
	#contact {
		height: auto;
		.formTitle{
		}
		#contactContainer {
			flex-direction: column-reverse;
			.formContainer {
				width: 90%;
				margin: 0 auto;
				.form {
					input, textarea {
					}
					textarea {
					}
					.button {
					}
				}
			}
			.socialMediaContainer {
				width: 90%;
				margin: 0 auto;
				#socialHello {
				}
				#socialMail {
				}
				#socialAppsPart {
					#socialAppsHello {
					}
					#socialAppsApps {
						svg {
						}
						
					}

					#cvGrab {
							p {
								#downlCVButton {
								
								}
							}
					}
				}
			}
		}
	}
}
@media (max-width: 500px) {
	#contact {
		margin-bottom: 20px;
		.formTitle{
		}
		#contactContainer {
			.formContainer {
			
				.form {
					input, textarea {
					}
					textarea {
					}
					.button {
					}
				}
			}
			.socialMediaContainer {
				
				#socialHello {
					font-size: 27px;
				}
				#socialMail {
					font-size: 22px;
				}
				#socialAppsPart {
					font-size: 22px;
					#socialAppsHello {
						display: flex;
						flex-direction: column;
						align-items: center;
						height: 90px;
						justify-content: space-between;
					}
					#socialAppsApps {
						margin-left: 0;
						svg {
							margin: 5px;
						}
						
					}

					#cvGrab {
						line-height: 40px;
							p {
								#downlCVButton {
								
								}
							}
					}
				}
			}
		}
	}
}