#homePage {
    z-index: 1;
    width:100%;
    height:100vh;
    //background-image: linear-gradient(to right top, #845ec2, #646cc5, #4875c1, #367cb7, #3880aa, #3d8aa4, #50929c, #679896, #84a597, #a2b19d, #bebdaa, #d5cabd);
    background: #c94b4b; /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #c94b4b, #4b134f); /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #c94b4b, #4b134f); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    background: #273043;
    .particles {
        height: 100%;
        width:100%;
    }
    .title {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%,-50%);
        width:80%;
        font-size: 28px;
        color: coral;
        z-index: 1;
        .name  {
            text-align: center;
            font-size:2em;
        }
        .job {
            text-align: center;
            font-size: 1.3em;
        }
    }
}


canvas {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 0;
}