@import 'portfolio';
@import 'contact';

@import url('https://fonts.googleapis.com/css?family=Raleway&display=swap');

* {
font-family: 'Raleway', sans-serif;
}

body, html {
	width:100%;
	height:100%;
	margin:0;
}


#root {
	width:100%;
	height:100%;
	.main {
		width:100%;
		height:100%;
		//background:cyan;
		#header {
			// burger
			.burger {
				position: fixed;
				top: 10px;
				left: 10px;
				display: inline-block;
				cursor: pointer;
				z-index:2;
				// bars
				.bar1, .bar2, .bar3 {
					width: 35px;
					height: 5px;
					background-color: wheat;
					margin: 6px 0;
					transition: 0.4s;
				}
				

			}
			.change {
				.bar1 {
					-webkit-transform: rotate(-45deg) translate(-9px, 6px);
					transform: rotate(-45deg) translate(-9px, 6px);
				}
				.bar2 {opacity: 0;}
				.bar3 {
					-webkit-transform: rotate(45deg) translate(-8px, -8px);
					transform: rotate(45deg) translate(-8px, -8px);
				}
			}
			// menu
			.menu {
				background: #636077;
				width: 100%;
				height: 100vh;
				display: flex;
				flex-direction: column;
				font-size: 20px;
				font-family: verdana;
				position: fixed;
				font-size: 60px;
				align-items: center;
				//display: none;
				justify-content: center;
				z-index:1;
				left:-100%;
				opacity: 0;
				.menuItem {
					padding-top:10px;
					a {
						text-decoration:none;
						color:white;
						color:#ecdec3;
						cursor:pointer;
					}
					a:hover {
						color:#225527
					}
				}
			}
			.showMenu {
				animation-name: move;
				animation-duration: 1.5s;
				animation-fill-mode: forwards;
			}
			.hideMenu {
				animation-name: hide;
				animation-duration: 1.5s;
				animation-fill-mode: forwards;
			}
			@keyframes move {
			  from {left: -100%;}
			  to {left: 0;}
			}
			@keyframes hide {
			  from {left: 0;}
			  to {left: -100%;}
			}
		}
		#homePage {
			width:100%;
			height:100vh;
			//background-image: linear-gradient(to right top, #845ec2, #646cc5, #4875c1, #367cb7, #3880aa, #3d8aa4, #50929c, #679896, #84a597, #a2b19d, #bebdaa, #d5cabd);
			background: #c94b4b; /* fallback for old browsers */
			background: -webkit-linear-gradient(to right, #c94b4b, #4b134f); /* Chrome 10-25, Safari 5.1-6 */
			background: linear-gradient(to right, #c94b4b, #4b134f); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
			background: #273043;
			.particles {
				height: 100%;
				width:100%;
			}
			.title {
				position: absolute;
				top: 50%;
				left: 50%;
				transform: translate(-50%,-50%);
				width:80%;
				color:#ecdec3;
				.name  {
					text-align: center;
					font-size:2em;
				}
				.job {
					text-align: center;
					font-size: 1.3em;
				}
			}
		}
		#about {
			height: 100%;
			width:100vw;
			background: #c94b4b; /* fallback for old browsers */
			background: -webkit-linear-gradient(to right, #c94b4b, #4b134f); /* Chrome 10-25, Safari 5.1-6 */
			background: linear-gradient(to right, #c94b4b, #4b134f); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
			.aboutBlock {
				display: flex;
				flex-direction: column;
				background: red;
				align-items: center;
				height: 100%;
				justify-content: flex-start;
				top: margin-top;
				//padding-top: 50px;
				//box-sizing:border-box;
				.photo {
					text-align: center;
					img {
						max-width: 45%;
						border-radius: 50%;
					}
				}
				.text {
					
				}
			}
		}
		
	}
}