#portfolio {
	height:100vh;height: fit-content;
	background: #273043;
	padding: 3% 0%;
	height: 100vh;
	.selector {
		//background: green;
		display: flex;
		justify-content: space-around;
		padding: 35px 0;
		.selectorButtons {
			background: #878f9d;
			color: white;
			padding: 10px;
			border-radius: 5px;
			cursor:pointer;
		}
	}
	.gallery {
		padding: 20px;
		// grid-row-gap: 2%;
		//padding: 0 1%;
		.projects {
			display: flex;
			flex-direction: column;
			// grid-column-gap: 1%;
			.singleProject:hover {
				transform: scale(.993);
			}
			.singleProject {
				background: #1A3E13;
				background: #133E22;
				background: #3E131A;
				box-shadow: 2px 4px 8px 2px black;
				margin: 0 auto;
				position: relative;
				width: 100%;
				z-index: 1;
				margin-bottom: 20px;
				display: flex;
				align-items: center;
				height: 370px;//260px;
				.bodyLeft {
					max-width: 100%;
					width: 30%;
					height: 100%;
					/* background: red; */
					position: relative;
					display: flex;
					/* align-items: center; */
					height: 260px;
					justify-content: center;
					align-items: center;
					.bodyLeftVideo {
						z-index: 1;
						width: 100%;
						padding: 0 20px;
						box-sizing: border-box;
						/* height: 260px; */
						max-height: 260px;
						video {
							width: 100%;
						}
					}
					// border:10px solid black;
					// transition: display 15s;
					
					
					
				}
			

				.bodyRight {
					display: flex;
					padding: 10px;
					box-sizing: border-box;
					//background: green; // for test
					//transition: ease-in 3s;
					//animation-name: down;
					//animation-duration: 2s;
					width: 70%;
					height: 90%;
					
					.bodyRightDescr {
						z-index: 1;
						display: flex;
						width: 100%;
						padding: 0 20px;
						box-sizing: border-box;

						.bodyRightDescrDescr {
							width:70%;
							font-size: 25px;
							text-align: center;
							color: white;
							line-height: 35px;
							display: flex;
							flex-direction: column;
							justify-content: space-around;
							align-items: center;
							.title {
								width: 100%;
								text-align: center;
								z-index: 1;
								// color: #131a3d;
								font-size: 40px;
								font-weight: 900;
								// text-shadow: 1px 1px 0px black;
							}
							

							.bodyRightDescrCheck {
								display: flex;
								/* justify-content: center; */
								width: 25%;
								justify-content: space-between;
								div {
									background: #131a3d;
									box-shadow: 2px 3px 3px 3px black;
									padding: 10px;
									cursor: pointer;
									color: white;
								}
							}
						}
						.bodyRightDescrStack {
							width: 30%;
							display: flex;
							flex-direction: column;
							align-items: center;
							justify-content: center;
							.stackTitle {
								color: white;
								font-size: 40px;
								margin-bottom: 20px;
							}
							.stackImages {
								display: flex;
								align-items: center;
								flex-direction: column;
								img {
									max-width: 25%;
								}
								span {
									color:white;
									font-size:30px;
								}
							}
						}
						
					}	
				}
			}
		}
	}
		
}
//.clearfix:after { clear: both; }
@media (max-width: 1440px) { 

	#portfolio {
		.gallery {
			
			.projects {
			
				.singleProject {
					.bodyLeft {
						width: 40%;
					}
					.bodyRight {
						width: 60%;
						.bodyRightDescr {
								padding: 0 10px;
								.bodyRightDescrDescr {
									width: 65%;
									.bodyRightDescrCheck {
										width: 40%;
									}
								}
								.bodyRightDescrStack {
									width: 35%;
								}
						}
					}
				}
			}
		}
	}

}
@media ( max-width: 1024px) {
	#portfolio {
		height: auto;
		.gallery {
			
			.projects {
			
				.singleProject {
					flex-direction: column;
					padding: 20px 0;
					height: auto;
					height: 1000px;
					height: auto;
					.bodyLeft {
						width: 100%;
						height: 30%;
						.bodyLeftVideo {
							height: unset;
							max-height: unset;
						}
					}
					.bodyRight {
						width: 90%;
						height: 70%;
						.bodyRightDescr {
							flex-direction: column;
							align-items: center;
							justify-content: space-around;
							.bodyRightDescrDescr {
								//width: 65%;
								font-size: 20px;
								margin: 10px 0;
								div {
									margin-bottom: 20px;
								}
								.bodyRightDescrCheck {
									width: 75%;
								}
							}
							.bodyRightDescrStack {
								width: 100%;
								.stackTitle {
									display: block;
								}
								.stackImages {
									width: 70%;
									
									span {
										font-size: 25px;
									}
								}
							}
						}
					}
				}
			}
		}
	}
}

@media ( max-width: 768px) {
	#portfolio {
		.gallery {
			
			.projects {
			
				.singleProject {
					.bodyLeft {
						
						.bodyLeftVideo {
							
						}
					}
					.bodyRight {
						
						.bodyRightDescr {
								  
								.bodyRightDescrDescr {
									width: 100%;
									padding: 30px 0;
									div {
									}
									.bodyRightDescrCheck {
										//width: 40%;
									}
								}
								.bodyRightDescrStack {
									.stackTitle {
									}
									.stackImages {
										width: 100%;
										span {
										}
									}
								}
						}
					}
				}
			}
		}
	}

}