#portfolio {
	//height:100vh;
	background:cyan;
	padding: 3% 0%;
	.selector {
		//background: green;
		display: flex;
		justify-content: space-around;
		padding: 35px 0;
		.selectorButtons {
			background: #878f9d;
			color: white;
			padding: 10px;
			border-radius: 5px;
			cursor:pointer;
		}
	}
	.gallery {
		display: grid;
		grid-template-columns: auto auto auto;
		// grid-column-gap: 1%;
		// grid-row-gap: 2%;
		//padding: 0 1%;
		.singleProject {
			display: flex;
			flex-direction:column;
			background: gray;
			animation-duration: 4s;
			animation-name: fadeIn;
			animation-fill-mode: forwards;
			margin:0 auto;
			opacity:0;
			// border:10px solid black;
			// transition: display 15s;
			img {
				max-width: 100%;
			}
		
		}

		@keyframes fadeIn {
			/* 0%   {opacity: 0.2;}
			25%  {opacity: 0.4;}
			50%  {opacity: 0.6;}
			75%  {opacity: 0.8;}
			100% {opacity: 1;} */
			0%   {opacity: 0;}
			
			100% {opacity: 1;}
		}
	}
	
}