#portfolio {
	//height:100vh;
	background:cyan;
	background:#273043;
	padding: 3% 0%;
	.selector {
		//background: green;
		display: flex;
		justify-content: space-around;
		padding: 35px 0;
		.selectorButtons {
			background: #878f9d;
			color: white;
			padding: 10px;
			border-radius: 5px;
			cursor:pointer;
		}
	}
	.gallery {
		
		// grid-row-gap: 2%;
		//padding: 0 1%;
		.projects {
			display: grid;
			grid-template-columns: auto auto auto;
			// grid-column-gap: 1%;
		
			.singleProject {
				display: flex;
				flex-direction:column;
				background: gray;
				/* animation-duration: 4s;
				animation-name: fadeIn;
				animation-fill-mode: forwards; */
				margin:0 auto;
				//opacity:0;
				position: relative;
				overflow: hidden;
				width: 100%;
				height: fit-content;
				z-index: 1;
				.bodyS {
					max-width: 100%;
					width: 100%;
					height: 100%;
					position: relative;
					.projectPreview {
						img {
							max-width: 100%;
						}
					}

					// border:10px solid black;
					// transition: display 15s;
					.title {
						position: absolute;
						top: -20px;
						/* background: red; */
						width: 100%;
						text-align: center;
						z-index: 999;
						color: white;
						top: 50%;
						left: 50%;
						transform: translate(-50%,-50%);
						font-size: 40px;
					}
					.title:hover {
						//top: 0;
					}
							
					
				}
			
			}
			.notActiveSingleProject {
				filter:brightness(0.4)
			}
			.singleProject:hover {
				//transform:scale(.9);
			}

			@keyframes fadeIn {
				/* 0%   {opacity: 0.2;}
				25%  {opacity: 0.4;}
				50%  {opacity: 0.6;}
				75%  {opacity: 0.8;}
				100% {opacity: 1;} */
				0%   {opacity: 0;}
				
				100% {opacity: 1;}
			}
		}
		.openProjects {
			padding: 10px;
			background: black;
		}
		@keyframes down {
			from {
				opacity: 0;;
			}
			to {
				opacity: 1;
			}
		}

		.bodyD {
			display: flex;
			padding: 10px;
			box-sizing: border-box;
			//background: green; // for test
			//transition: ease-in 3s;
			animation-name: down;
			animation-duration: 2s;
			background: black;
			.bodyDVideo {
				z-index: 1;
				width: 30%;
				padding: 0 20px;
				box-sizing: border-box;
				video {
					width: 100%;
				}
			}
			.bodyDDescr {
				z-index: 1;
				display: flex;
				width: 70%;
				padding: 0 20px;
				box-sizing: border-box;
				.bodyDDescrDescr {
					width:50%;
					font-size: 20px;
					text-align: center;
					color: white;
					line-height: 30px;
					display: flex;
					flex-direction: column;
					justify-content: space-around;
					.bodyDDescrCheck {
						display: flex;
						justify-content: center;
						/* background: tan; */
						width: 100%;
						justify-content: space-evenly;
						margin-bottom: 0px;
						div {
							background: #000000;
							padding: 10px;
							cursor: pointer;
							color: white;
						}
					}
				}
				.bodyDDescrStack {
					width: 50%;
					display: flex;
					flex-direction: column;
					align-items: center;
					.stackTitle {
						color: white;
						font-size: 30px;
						margin-bottom: 20px;
					}
					.stackImages {
						display: flex;
						align-items: center;
						img {
							max-width: 25%;
						}
					}
				}
				
			}	
		}
	}
}
//.clearfix:after { clear: both; }
